<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zactile</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function titleColorChange() {
            document.getElementById("title").style.color = "#"+((1<<24)*Math.random()|0).toString(16);
            axios.post('/login', null, {
                params: {
                    firstName: "Fred",
                    lastName: "Flintstone"
                }
            })
  .then(function (response) {
    console.log(response);
  })
  .catch(function (error) {
    console.log(error);
  });
        }
    </script>
</head>

<body>
    <h1 style="font-size: 100px;" id="title"><em>Zactile</em></h1>
    <button onclick="titleColorChange()">Change title color</button>
</body>

</html>